.car-managment-details{
    direction: rtl;
    .gradient-overlay {
        height: 35vh;
        width: 100%;
        margin-block-end: 3rem;
        background-color: lightblue;
    }
    .top-section{
        padding: 7rem 0;
        h1{
            text-align: center;
        }
        .info-section{
            margin-block-start: 5rem;
            ul{
                list-style: none;
                li{
                    margin: 0 5rem;
                    p{
                        font-size: 1.2rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    .main-container{
        .left-section,
        .right-section{
            border: 1px solid red;
            flex-basis: 50%;
        }
        .left-section{}
        .right-section{

        }
    }
}