.record-edit {
    direction: rtl;
    margin-block-start: 2.5rem;

    .form-container{
        width: 500px;
        background: #007cfe;

        .wrapper {
            width: 300px;
            h1 {
                margin: 1rem 0;
                text-align: right;
                font-family: Arial;
            }

            form {
                padding-block-start: 0.3rem;

                .input-field {
                    margin: 1.5rem 0;

                    input {
                        background-color: transparent;
                        width: 100%;
                        padding: 0.1rem 0.3rem;
                        font-size: 1rem;
                        outline: 0;
                        border-radius: 3px;
                        border: 3px solid silver;
                        color: white;
                        &:focus {
                            border: 3px solid black;
                        }

                        &::placeholder {
                            color: silver;
                        }
                    }
                    .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
                        width: 100%;
                    }
                    .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
                        border: 3px solid silver;
                        color: white;
                    }
                }
                .datepicker-field{
                    margin: 1.5rem 0;
                    .css-1b1fjlj-MuiFormControl-root-MuiTextField-root{
                        width: 100%;
                    }
                    // Text Color
                    .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
                    .css-113d811-MuiFormLabel-root-MuiInputLabel-root,
                    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
                    .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input,
                    .css-1umw9bq-MuiSvgIcon-root{
                        color: white;
                    }
                    // Border
                    .MuiOutlinedInput-notchedOutline{
                        border: 3px solid silver;
                    }
                    // SVG
                    .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
                        color: white;
                    }
                }
            }
        }
    }
}