* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-layout {
    margin: 0 auto;
    width: 95%;
}

// HIDE ARROW ON INPUT NUMBER
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}